
# editor, github and lint
.github/
.vscode/
.idea/
.husky/
.eslintcache
# node packages
node_modules
# Ignore all files in .github and .vscode directories.
.github/
.vscode/
# Except pre-approved CI/CD files.
!.github/workflows/Version_Check.yml
!.github/workflows/Docs.yml
