/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .hero {
  background-color: var(--ifm-color-primary-contrast-background);
  padding: 48px;
}

.heroInner {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
}

.heroSubtitle {
  color: var(--ifm-color-primary-contrast-foreground);
  font-size: 60px;
  line-height: 1.2;
  margin: 0;
  strong {
    color: var(--ifm-color-primary);
  }
  & > span {
    margin-right: 2rem;
  }
}

.heroButtons {
  white-space: nowrap;
  & > * {
    display: inline-flex;
    align-items: center;
    margin-right: 0.75rem;
    padding: calc(
        var(--ifm-button-padding-vertical) * var(--ifm-button-size-multiplier)
      )
      calc(
        var(--ifm-button-padding-horizontal) * var(--ifm-button-size-multiplier) *
          3 / 5
      );
  }
}

.buttonIcon {
  margin-right: 0.5rem;
  width: 1.15em;
  height: 1.15em;
}

.speechButton {
  display: inline-flex;
  align-items: center;
  position: relative;
  text-align: center;
  margin-left: 0.25em;
  --ifm-button-background-color: var(--ifm-color-primary-contrast-foreground);
  color: var(--ifm-color-primary-contrast-background);
  &:hover {
    --ifm-button-background-color: var(--ifm-color-secondary-contrast-foreground);
  }
  &:after {
    content: '';
    position: absolute;
    border-left: 0.75em solid transparent;
    border-right: 0.75em solid var(--ifm-color-primary-contrast-foreground);
    border-top: 0.75em solid transparent;
    border-bottom: 0.75em solid transparent;
    left: -1.375em;
    transition-property: color, background, border-color;
    transition-duration: var(--ifm-button-transition-duration);
    transition-timing-function: var(--ifm-transition-timing-default);
  }
}

.heroLogo {
  height: 100%;
  width: auto;
  max-height: 215px;
  flex-shrink: 0;
  margin-left: 1rem;
  animation-duration: 2s;
  animation-name: logo-animation;
}

@media only screen and (max-width: 1099px) {
  .heroSubtitle {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .heroBanner {
    padding-left: 20px;
    padding-right: 20px;
  }

  .heroInner {
    padding: 0;
    flex-direction: column-reverse;
  }

  .heroSubtitle {
    font-size: 36px;
    text-align: center;
    flex-direction: column;
  }

  .heroButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .heroLogo {
    display: block;
    float: none;
    margin: 0 auto 20px;
    max-height: 200px;
  }
}

.buttons {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  margin-left: 1rem;
  a {
    margin: 0.5rem;
  }
}

@keyframes logo-animation {
  from {
    opacity: 0;
    transform: rotate(30deg);
    transform-origin: top left;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
  }
}
