// Here you can add other styles
@import 'tenantselector';

// https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

/*
	Use in conjunction with .sr-only to only display content when it's focused.
	@note Useful for skip links
	@see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
	@note Based on a HTML5 Boilerplate technique, included in Bootstrap
	@note Fixed a bug with position: static on iOS 10.0.2 + VoiceOver
		@author Sylvain Pigeard
		@see https://github.com/twbs/bootstrap/issues/20732
*/
.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}

//added some code for slightly prettier scrollbars

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

/* cui overrides */

.btn {
  border-radius: var(--cipp-border-radius);
}

.card {
  border-radius: var(--cipp-border-radius);
  &.page-card {
    .card-header {
      background: var(--cyberdrain-accent-green);
    }
    .card-title {
      font-size: 1rem;
      line-height: 2rem;
      margin-bottom: 0rem;
    }
  }
  &.options-card {
    .card-title {
      line-height: 2rem;
      margin-bottom: 0rem;
    }
  }
  .card-header {
    &:first-child {
      border-radius: var(--cipp-border-radius);
    }
  }
}

.dropdown-menu {
  border-radius: var(--cipp-border-radius);
}

.form-control {
  border-radius: var(--cipp-border-radius);
}

.form-select {
  border-radius: var(--cipp-border-radius);
  .select-search__input {
    border: 0px;
  }
}

.modal-content {
  border-radius: var(--cipp-border-radius);
}
