@use 'sass:color';

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;

  &-focusable {
    &:focus,
    &:active {
      clip: auto !important;
      clip-path: none !important;
      height: auto !important;
      margin: auto !important;
      overflow: visible !important;
      white-space: normal !important;
      width: auto !important;
    }
  }
}

// added some code for slightly prettier scrollbars

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: #d6dee1;
  border: 6px solid transparent;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

/* cui overrides */

.badge {
  border-radius: var(--cipp-border-radius);
}

.btn {
  border-radius: var(--cipp-border-radius);
  white-space: nowrap;
}

.card {
  border-radius: var(--cipp-border-radius);

  .card-header {
    &:first-child {
      background-clip: border-box;
      border-radius: 3px 3px 0 0;
      overflow: hidden;
    }
  }

  &.page-card {
    border-radius: var(--cipp-border-radius);

    &:not(.datatable) {
      border: 0;
    }

    .card-header {
      background: var(--cyberdrain-accent-green);
    }

    .card-title {
      font-size: 1rem;
      line-height: 2rem;
      margin-bottom: 0;
    }

    > .card-body {
      padding: 1rem 0;
    }

    &.datatable {
      .card-body {
        padding: 1rem;
      }
    }
  }

  &.options-card {
    border-color: var(--cui-options-card-border-color);

    .card-header {
      background: var(--cyberdrain-accent-blue);
      border-bottom-color: var(--cui-options-card-border-color);
    }

    .card-title {
      line-height: 2rem;
      margin-bottom: 0;
    }
  }

  &.content-card {
    border-color: var(--cui-options-card-border-color);

    .card-header {
      background: var(--cyberdrain-accent-blue);
      // background: var(--cyberdrain-accent-blue);
      border-bottom-color: var(--cui-options-card-border-color);
    }

    .card-title {
      line-height: 2rem;
      margin-bottom: 0;
    }

    .card-header-link {
      color: var(--cui-headings-color);
      font-weight: 500;
      text-decoration: none;

      &:hover {
        color: var(--cyberdrain-light-striped);
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

.dropdown-menu {
  border-radius: var(--cipp-border-radius);
}

.form-control {
  border-radius: var(--cipp-border-radius);
}

.form-select {
  border-radius: var(--cipp-border-radius);

  /* stylelint-disable-next-line selector-class-pattern */
  .select-search__input {
    border: 0;
  }
}

.modal-content {
  border-radius: var(--cipp-border-radius);
}

/* CIPP specifics */

.equalheight {
  flex-grow: 1;
}

.nav-pills {
  .nav-link {
    border-radius: var(--cipp-border-radius);
  }
}

.nav-tabs {
  .nav-link {
    border-radius: var(--cipp-border-radius);
  }
}

.progress {
  border-radius: var(--cipp-border-radius);
}

/* Tables */

/* stylelint-disable-next-line selector-class-pattern */
.rdt_TableBody {
  /* stylelint-disable-next-line selector-class-pattern */
  .rdt_TableRow {
    &:hover {
      border-bottom-color: var(--cipp-table-divider);
      outline-style: none;
    }
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .rdt_TableCell {
    position: relative;
  }
}

.cipp-offcanvastable {
  font-size: smaller;
}

.dropdown-item {
  a {
    color: var(--cui-dropdown-link-color);
    display: inline-block;
    text-decoration: none;
    width: 100%;

    &:hover {
      color: var(--cui-dropdown-link-hover-color);
      text-decoration: none;
    }
  }
}
.offcanvas-large {
  width: 800px !important;
}

.cipp-offcanvas {
  background-color: var(--cui-body-bg);
  z-index: 1500;

  &.offcanvas-end {
    @include ltr-rtl-value-only('transform', none, none);
  }

  .offcanvas-header {
    background-color: var(--cipp-offcanvas-header-bg);
    color: var(--cipp-offcanvas-header-color);
    padding: 0rem 1rem;
    .btn {
      color: var(--cipp-offcanvas-header-color);

      :hover {
        color: var(--cipp-offcanvas-header-hover-color);
      }
    }
  }

  .offcanvas-title {
    background-color: var(--cipp-offcanvas-title-bg);
    color: var(--cipp-offcanvas-title-color);
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .cipp-extendedinfo-label {
    border-bottom: 1px solid var(--cipp-offcanvas-label-border-color);
    font-weight: bold;
  }
}

.list-group {
  border-radius: var(--cipp-border-radius);
}

/* CIPP Text */

.bg-primary {
  background-color: var(--cui-primary) !important;
}

.bg-secondary {
  background-color: var(--cui-secondary) !important;
}

.bg-success {
  background-color: var(--cui-success) !important;
}

.bg-info {
  background-color: var(--cui-info) !important;
}

.bg-warning {
  background-color: var(--cui-warning) !important;
}

.bg-danger {
  background-color: var(--cui-danger) !important;
}

.text-primary {
  color: var(--cui-primary) !important;
}

.text-secondary {
  color: var(--cui-secondary) !important;
}

.text-success {
  color: var(--cui-success) !important;
}

.text-info {
  color: var(--cui-info) !important;
}

.text-warning {
  color: var(--cui-warning) !important;
}

.text-danger {
  color: var(--cui-danger) !important;
}

/* Code Block */
.cipp-code {
  position: relative;

  .cipp-code-copy-button {
    position: absolute;
    right: 0.1rem;
    top: 0.1rem;
  }
}

.btn-as-block {
  display: block;
}

.fa-inverse {
  color: var(--cipp-fa-inverse-color);
}

.rdt_TableRow.no-mfa {
  background-color: color.adjust($cyberdrain-danger, $alpha: -0.5) !important;

  .text-success {
    color: var(--cui-body-color) !important;
  }

  .text-danger {
    color: var(--cui-body-color) !important;
  }
}

.rdt_TableRow.mbusage-warning {
  background-color: color.adjust($cyberdrain-warning, $alpha: -0.5) !important;

  .text-success {
    color: var(--cui-body-color) !important;
  }

  .text-danger {
    color: var(--cui-body-color) !important;
  }
}

.rdt_TableRow.mbusage-danger {
  background-color: color.adjust($cyberdrain-danger, $alpha: -0.5) !important;

  .text-success {
    color: var(--cui-body-color) !important;
  }

  .text-danger {
    color: var(--cui-body-color) !important;
  }
}

/* Footer */
.footer {
  p {
    margin-bottom: 0;
  }

  img {
    max-height: 2rem;
  }
}

/* Toasts */

.toast-body {
  .btn {
    margin-left: 1rem;
  }
}

/* Sidebar */

.sidebar-nav .nav-link {
  margin: 0.25rem 0;
}

.react-select-container {
  .react-select__control {
    background-color: var(--cipp-search-bg);
    border-color: var(--cipp-search-border-color);
    transition: none;

    &:hover {
      border-color: var(--cipp-search-border-color);
    }
  }

  .react-select__menu {
    background-color: var(--cipp-search-bg);
    border: 1px solid var(--cipp-search-border-color);
  }

  .react-select__option {
    background-color: var(--cipp-search-bg);

    &:hover {
      background-color: var(--cipp-search-border-color);
    }
  }

  .react-select__indicator {
    color: var(--cipp-search-border-color);
  }

  .react-select__indicator-separator {
    background-color: var(--cipp-search-border-color);
  }

  .react-select__placeholder,
  .react-select__single-value {
    color: var(--text-primary);
  }
}

.sidebar {
  background-color: var(--cui-color-gray) !important;
  svg {
    color: var(--cui-color-black) !important;
    transform: scale(0.8);
  }
  li {
    color: var(--cui-color-black) !important;
    a {
      color: var(--cui-color-black) !important;
    }
  }
  .simplebar-content > li:hover {
    background: var(--cui-color-gray-hover) !important;
  }
  .nav-group.show {
    background: var(--cui-color-gray-hover) !important;
  }
}

.wrapper.d-flex.flex-column.min-vh-100 {
  background-color: var(--cui-color-gray-1) !important;
  padding-top: 30px;
  min-height: calc(100vh - 84px) !important;
  z-index: 2;

  // .body.flex-grow-1.px-xl-3>.container-fluid>div>div{
  //   background: var(--cui-color-white) !important;
  //   padding: 20px 30px;
  //   margin-bottom: 20px;
  //   .nav-item> .nav-link {
  //     padding: 30px 20px;
  //   }
  // }
  .wrapper.d-flex.flex-column.min-vh-100 .card .card-body .cipp-tablewrapper {
    padding: 0;
  }
  .card {
    border: none;
    margin-bottom: 20px;
    box-shadow: 0 6px 10px 0 var(--cui-color-card-shadow), 0 8px 12px 0 var(--cui-color-card-shadow);
    &:hover {
      box-shadow: 0 8px 10px 0 var(--cui-color-card-shadow),
        0 8px 20px 0 var(--cui-color-card-shadow);
    }
    .card-header {
      background-color: var(--cui-color-white);
      color: var(--cui-color-black);
      border: none;
    }
    .card-header.d-flex.justify-content-between {
      padding: 10px 30px;
    }
    .card-body {
      padding: 10px 40px;
      padding-top: 0;
      background-color: var(--cui-color-white);
      .cipp-tablewrapper {
        padding: 0;
      }
      header {
        background-color: var(--cui-color-white) !important;
      }
      .sc-dlVxhl.fSQziN {
        border-radius: 0px;
        border: 1px solid var(--cui-color-gray-hover);
      }
      .rdt_TableHeadRow {
        background-color: var(--cui-bgcolor-table-header) !important;
        font-size: 12px;
        color: var(--cui-color-white);
        border-bottom-color: (--cui-color-gray-hover) !important;
        padding: 8px 0;
      }
      .rdt_TableBody .rdt_TableRow:nth-child(odd) {
        background-color: var(--cui-color-white) !important;
        border-bottom-color: (--cui-color-gray-hover) !important;
      }
      .rdt_TableBody .rdt_TableRow:nth-child(even) {
        background-color: var(--cui-color-gray) !important;
      }
      .rdt_Pagination {
        select {
          background-color: var(--cui-bgcolor-table-header) !important;
          color: var(--cui-color-white) !important;
          border-radius: 4px;
        }
      }
    }
    .sc-kfPuZi.iZiYoO {
      background-color: var(--cui-color-white) !important;
    }
  }
}
.nav-item > .nav-link.active {
  background-color: var(--cui-color-orange) !important;
  color: var(--cui-color-white) !important;
}

.btn.btn-primary {
  color: var(--cui-color-white) !important;
  border-radius: 4px;
  border: none;
}
.dropdown-menu.show.tenantDropdown {
  padding: 1px;
}

.header.header-sticky {
  background-color: var(--cui-color-gray) !important;
  border-bottom: 2px solid var(--cui-color-gray-hover);
}
.header-toggler:hover {
  transform: scale(1.1);
}

.sidebar-brand {
  background: none;
  .sidebar-brand-full {
    margin-left: 30px;
    height: 50px;
    transform: scale(1.5);
  }
}

.sidebar.sidebar-fixed {
  margin-top: 69px;
  height: calc(100vh - 69px);
}
.wrapper.d-flex.flex-column.min-vh-100 .card {
  margin-bottom: 0px;
}

.celltip-content-nowrap {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

.select-width {
  min-width: 100%;
}

.mr-15 {
  margin-right: 15px;
}

.no-colour {
  .text-success {
    color: var(--cui-body-color) !important;
  }

  .text-danger {
    color: var(--cui-body-color) !important;
  }
}

.teams-wide-card {
  width: 500px;
}

i.glyphicon {
  display: none;
}

.btn-add::after {
  content: 'Add';
}

.array-item-copy::after {
  content: 'Copy';
}

.array-item-move-up::after {
  content: 'Move Up';
}

.array-item-move-down::after {
  content: 'Move Down';
}

.array-item-remove::after {
  content: 'Remove';
}
