.wrapper {
  width: 100%;
  @include ltr-rtl('padding-left', var(--cui-sidebar-occupy-start, 0));
  will-change: auto;
  @include transition(padding 0.15s);
}

.nav-wizard .nav-link {
  display: flex;
  align-items: center;
  padding: 2rem;
  color: white;
  .wizard-step-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    flex-shrink: 0;
    margin-right: 1rem;
    border-radius: 0.35rem;
    background-color: $cyberdrain-orange;
    color: white;
    i, svg, .feather {
      color: white;
    }
  }
  .wizard-step-text {
    text-align: left;
    .wizard-step-text-name {
      font-size: 1rem;
      margin-bottom: 0.25rem;
      color: #f77f00;
    }
    .wizard-step-text-details {
      font-weight: 400;
      font-size: 0.875rem;
      color: #69707a;
    }
  }
  &.active {
    .wizard-step-icon {
      background-color: white;
      color: #f77f00;
      i, svg, .feather {
        color: #f77f00;
      }
    }
  }
}
.nav-wizard .nav-link.active .wizard-step-icon i,
.nav-wizard .nav-link.active .wizard-step-icon svg,
.nav-wizard .nav-link.active .wizard-step-icon .feather {
  color: #f77f00;
}
.nav-wizard .nav-link.active .wizard-step-text .wizard-step-text-name {
  color: #fff;
}
.nav-wizard .nav-link.active .wizard-step-text .wizard-step-text-details {
  color: rgba(255, 255, 255, 0.5);
}
