.select-search {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  position: relative;

  * {
    box-sizing: inherit;

    &::after,
    &::before {
      box-sizing: inherit;
    }
  }

  &.is-disabled {
    opacity: 0.5;
  }

  &__value {
    position: relative;
    z-index: 1;

    &::after {
      content: '';
      display: inline-block;
      height: 11px;
      position: absolute;
      right: 19px;
      top: calc(50% - 9px);
      width: 11px;
    }
  }

  &.is-loading {
    .select-search__value::after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cpath fill='%232F2D37' d='M25,5A20.14,20.14,0,0,1,45,22.88a2.51,2.51,0,0,0,2.49,2.26h0A2.52,2.52,0,0,0,50,22.33a25.14,25.14,0,0,0-50,0,2.52,2.52,0,0,0,2.5,2.81h0A2.51,2.51,0,0,0,5,22.88,20.14,20.14,0,0,1,25,5Z'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 25 25' to='360 25 25' dur='0.6s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
      background-size: 11px;
    }
  }

  &__input {
    appearance: none;
    background: var(--cipp-search-bg);
    border: 1px solid var(--cipp-search-border-color);
    border-radius: var(--cipp-border-radius);
    box-shadow: 0 0.0625rem 0.125rem rgb(0 0 0 / 15%);
    color: var(--cipp-search-color);
    display: block;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    outline: none;
    padding: 0 40px 0 16px;
    text-align: left;
    text-overflow: ellipsis;
    width: 100%;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      --webkit-appearance: none;
    }

    &:hover {
      border: 1px solid var(--cipp-search-border-color);
    }

    &:not([readonly]):focus {
      cursor: initial;
    }
  }

  &:not(.is-disabled) {
    .select-search__input {
      cursor: pointer;
    }
  }

  &__option,
  &__not-found {
    background: var(--cipp-search-bg);
    border: 0;
    cursor: pointer;
    display: block;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    height: 36px;
    outline: none;
    padding: 0 16px;
    text-align: left;
    width: 100%;
  }

  &__option {
    color: var(--cipp-search-option-color);

    &.is-selected {
      background: var(--cipp-search-selected-option-bg);
      color: var(--cipp-search-selected-option-color);
    }

    &.is-highlighted,
    &:not(.is-selected):hover {
      background: var(--cipp-search-selected-option-highlight);
    }

    &.is-highlighted.is-selected,
    &.is-selected:hover {
      background: var(--cipp-search-selected-option-highlight);
    }
  }

  &__select {
    background: var(--cipp-search-bg);
    border: 1px solid var(--cipp-search-border-color);
    box-shadow: 0.25rem 0.25rem 0.125rem rgb(0 0 0 / 50%);
    color: var(--cipp-search-color);
  }

  /* stylelint-disable no-descending-specificity */
  &--multiple {
    border-radius: var(--cipp-border-radius);
    overflow: hidden;

    .select-search__option {
      height: 48px;
    }

    .select-search__input {
      border-radius: var(--cipp-border-radius);
      cursor: initial;
    }

    &:not(.select-search--search) {
      .select-search__input {
        cursor: default;
      }
    }

    .select-search__select {
      border-radius: var(--cipp-border-radius);
      border-top: 1px solid var(--cipp-search-border-color);
      max-height: 260px;
      overflow: auto;
      position: relative;
    }
  }
  /* stylelint-enable no-descending-specificity */

  .select-search__not-found {
    color: #888;
    height: auto;
    padding: 16px;
    text-align: center;
  }

  &:not(.select-search--multiple) {
    .select-search__select {
      border-radius: var(--cipp-border-radius);
      left: 0;
      max-height: 360px;
      overflow: auto;
      position: absolute;
      right: 0;
      top: 44px;
      z-index: 2;
    }
  }

  &:not(.is-loading) {
    &:not(.select-search--multiple) {
      .select-search__value::after {
        border-bottom: 2px solid var(--cipp-search-color);
        border-right: 2px solid var(--cipp-search-color);
        pointer-events: none;
        transform: rotate(45deg);
      }
    }
  }
}

.select-search__options {
  list-style: none;
  padding-inline-start: 0;
}

.select-search__row:not(:first-child) {
  border-top: 1px solid var(--cipp-search-border-color);
}

.select-search__group-header {
  background: var(--cipp-search-header-bg);
  color: var(--cipp-search-header-color);
  font-size: 10px;
  padding: 8px 16px;
  text-transform: uppercase;
}

.tenantDropdown {
  min-width: 25rem;
}

