@mixin default() {
    .body {
        background-color: #ebedef;
    }
}
@mixin cyberdrain() {

}
@mixin dark() {
    .wrapper {
        background-color: #222 !important;
    }
    .body {
        background-color: #222;
    }
}