---
name: Add Comment
on:  # yamllint disable-line rule:truthy
  issues:
    types:
      - labeled
jobs:
  add-comment_bug:
    if: github.event.label.name == 'unconfirmed-by-user'
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Add Comment
        uses: peter-evans/create-or-update-comment@a35cf36e5301d70b76f316e867e7788a55a31dae
        with:
          issue-number: ${{ github.event.issue.number }}
          body: |
            Thank you for creating a bug. Please make sure your bug is indeed a unique case by checking current and past issues, and reading the complete documentation at https://kelvintegelaar.github.io/CIPP
            If your bug is a known documentation issue, it will be closed without notice by a contributor. To confirm that this is not a bug found in the documentation, please copy and paste the following comment: "I confirm that I have checked the documentation thoroughly and believe this to be an actual bug.".

            Without confirming, your report will be closed in 24 hours. If you'd like this bug to be assigned to you, please comment "I would like to work on this please!".
  add-comment_fr:
    if: github.event.label.name == 'enhancement'
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Add Comment
        uses: peter-evans/create-or-update-comment@a35cf36e5301d70b76f316e867e7788a55a31dae
        with:
          issue-number: ${{ github.event.issue.number }}
          body: |
            Thank you for creating a feature request! feature requests are prioritized by our direct contributors. Your current priority is set to "No Priority". If you are a sponsor you can request an upgrade of priority, If you want this feature to be integrated you can always do this yourself by checking out our contributions guide at https://kelvintegelaar.github.io/CIPP/GettingStarted/Contributions.html. Contributors to the CIPP project reserve the right to close feature requests at will.

            If your feature request is not picked up in 2 week by a contributor it will be closed.

            If you'd like this feature request to be assigned to you, please comment "I would like to work on this please!".
